<div>
    <div class="conatiner p-2 d-flex flex-row justify-content-between bg-dark text-white">
        <div class="p-2">MY COMPANY</div>
        <div class="d-flex flex-row">
            {{#if loggedIn}}
            <div class="d-flex flex-row">
                <div class="p-2">Home</div>
                <div class="p-2">About</div>
            </div>
            {{else}}
            <div class="d-flex flex-row">
                <div class="p-2"><a class="text-white" href="/login">Login</a></div>
                <div class="p-2"><a class="text-white" href="/register">Register</a></div>
            </div>
            {{/if}}
        </div>


    </div>
</div>